.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 60px 120px;
  height: 64px;
  width: 90vw;
  position:absolute;
  z-index: 4;
}

.navbar__brand {
  font-size: 16px;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 40px;
  font-size: 14px;
}

.navbar__links > li {
  cursor: pointer;

}
li {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.no-underline {
  text-decoration: none;
}
