.containercontactus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contactus {
    margin-top: 20px;
    /* display: flex; */
    justify-content: center;
  }

  
.contactus iframe{
  max-width: 90vw;
}


.sk-instagram-feed{
  background-color:transparent !important;
}
.sk-ig-post-img{
  width: 33vw !important;
  height: 33vw !important;
}
  /* @media (min-width: 1200px) {
    iframe{
        max-width:1000vw;
    }
  } */