@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;    
    background: #000000;
    background-image: url(csi-homepage2.png);
}
.heading{
    /* border: 2px solid red; */
    text-align: center;
}
.heading h1{
    color: #fff;
}
.container{
    position: relative;
    width: 600px;
    height: 600px;
    z-index: 1;
    /* border: 2px solid red; */
}

.container .icon{
    position: relative;
    width: 100%;
    height: 100%;
    left: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .icon .imgBx{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222,
    0 0 0 6px #fff;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
}

.container .icon .imgBx:hover{
    margin-top: -10px;
}

.container .icon .imgBx.active{
    box-shadow: 0 0 0 4px #222,
    0 0 0 10px #1014ec;
}

.container .icon .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
}

.container .icon .imgBx.active img{
    filter: grayscale(0);
}

.content{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    /* border: 2px solid red; */
}

.contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.contentBx .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-auto-flow: 15px;
    /* border: 2px solid red; */
}

.contentBx .card .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.contentBx .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx .card .textBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBx .card .textBx h2{
    margin-top: 10px;
    position: relative;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.contentBx .card .textBx h2 span{
    font-size: 0.65em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.contentBx .card .textBx .sci{
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
}

.contentBx .card .textBx .sci li{
    list-style: none;
}

.contentBx .card .textBx .sci li a{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.contentBx .card .textBx .sci li a:hover{
    background: #2196f3;
}

.mobile-view{
    display: none;
}

@media only screen and (max-width:650px) {
    .container {
        display: none;
    }

    .mobile-view {
        display: block;
        /* border: 2px solid red; */
    }

    body {
        display: unset;
    }

    .heading {
        text-align: center;
        margin: 20px 0;
    }

    .content {
        position: unset;
        width: 100%;
        height: 400%;
        /* border: 1px solid red; */
        /* padding-top: 150px; */
        display: flex;
        flex-direction: column;
    }

    .mobContent {
        position: relative;
        height: 150px;
        width: 150px;
        padding: 8px;
        border-radius: 50%;
        background: #fff;
        transition: .5s ease;
        /* color: white; */
        z-index: 99;
        margin: 50px;
    }

    .mobContent:hover {
        border-radius: 10px;
        height: 220px;
        width: 220px;
    }

    .mobContent .img {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease;
    }

    .mobContent:hover .img {
        top: -80px;
    }

    .mobContent img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        transition: .5s ease;
    }

    .mobContent:hover img {
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }

    .mobContent .text {
        position: relative;
        top: -100px;
        text-align: center;
        opacity: 0;
        transition: .8s ease-out;
    }

    .mobContent:hover .text {
        opacity: 1;
    }

    .mobContent .text .sci {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }
}
